table {
  width: 40vw;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

a:hover {
  color: black;
}

#navbar {
  display: flex;
  align-items: center;
  position: fixed;

  background-color: black;
  color: white;

  height: 10vh;

  font-family: "Lumanosimo", cursive;

  font-size: 140%;
}

#navbar div {
  display: flex;
}

#navbar div div {
  /* box-sizing: border-box; */
  margin-left: 1vw;
  margin-right: 1vw;
  border: white 1px solid;
  padding: 7px;
  transition: all 0.7s ease;
  text-align: center;
  justify-content: center;
}

#navbar div div:hover {
  background-color: white;
  color: black;
}

#actions {
  position: absolute;
  right: 1vw;
}

#main {
  position: absolute;
  top: 10vh;
}

@media screen and (orientation: portrait) {
  #navbar {
    font-size: 4vmin;
  }
  #actions {
    position: absolute;
    left: 50%;
  }
  #navbar div div {
    border: none;
  }
  #actions {
    position: absolute;
  }
}
