* {
    margin: 0;
}
body {
  background-image: url("../images/signupbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
#box {
  position: relative;
  left: 35vw;
  top: 20vh;

  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;

  background-color: white;
  border: 16px black double;
  border-radius: 3%;

  height: 60vh;
  width: 30vw;
}
.container {
    overflow: auto;
}
@media screen and (orientation:portrait) { 
  #box{
    width: 100vw;
    left: 0;
  }
}
#navbar {
  margin-top: 0;
  margin-bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;

  background-color: black;
  color: white;

  height: 10vh;

  font-family: "Lumanosimo", cursive;
}
#lg {
  position: absolute;
  left: 3%;
}

#prof {
  position: absolute;
  right: 2%;
}