<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LibraGo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/bookList.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navbar" class="container-fluid">
      <div id="lg"><a href="/">LibraGo</a></div>
      <div id="prof"><a href="/profile">Profile</a></div>
    </div>
    <h1 id="main">List of Books:</h2>
    <table class="table table-hover" border="1">
      <thead>
        <tr>
          <th>Bookid</th>
          <th>Name</th>
          <th>Author</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Books}}
        <tr>
          <td>{{.Bookid}}</td>
          <td>{{.Bookname}}</td>
          <td>{{.Author}}</td>
          <td>{{.Quantity}}</td>
          <td><form action="/issueBook" method="POST">
            <button type="submit" name="bookid" value="{{.Bookid}}">
              Issue
            </button>
          </form></td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
