<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LibraGo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/bookList.css" />
  </head>
  <body>
    <h2>List of Books</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Checkout-ID</th>
          <th>Book Name</th>
          <th>Issued By</th>
          <th>Status</th>
          <th>A1</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Reqs}}
        <tr>
          <td>{{.Checkoutid}}</td>
          <td>{{.OfBook}}</td>
          <td>{{.ByUser}}</td>
          <td>{{.Status}}</td>
          <td>
            <form action="/checkrequest" method="POST">
              <button
                class="column"
                type="submit"
                name="actionInfo"
                value="{{.Checkoutid}}-a"
              >
                {{if eq .Status `pending`}} Approve Checkout {{else}} Approve
                Checkin {{end}}
              </button>
              <button
                class="column"
                type="submit"
                name="actionInfo"
                value="{{.Checkoutid}}-d"
              >
                {{if eq .Status `pending`}} Deny Checkout {{else}} Deny Checkin
                {{end}}
              </button>
            </form>
          </td>
        </tr>

        {{end}}
      </tbody>
    </table>
  </body>
</html>
