<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LibraGo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/login.css" />
  </head>
  <body>
    <div id="box">
      <h1>Delete Book</h1>
      <div class="container mt-3">
        <form action="/delete" method="POST">
          <div class="form-group">
            <label for="bookid">Bookid</label>
            <input type="text" class="form-control" id="bookid" name="bookid" placeholder="Enter bookid">
          </div>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>