<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LibraGo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/profileAdmin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navbar" class="container-fluid">
      <div id="name">Hi {{.Username}}</div>
      <div id="actions">
        <div>
          <a href="/addBook"> Add a book </a>
        </div>
        <div>
          <a href="/sas"> Change book quantity </a>
        </div>
        <div>
          <a href="/checkRequest"> Handle Requests </a>
        </div>
        <div>
          <a href="/delete">Delete Book</a>
        </div>
        <div>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="main">
      <h1>All books</h1>
      {{ if ne (len .Inventory.Books) 0 }}
      <table class="table table-hover" border="1">
        <thead>
          <tr>
            <th>Bookid</th>
            <th>Name</th>
            <th>Author</th>
            <th>Total Copies</th>
            <th>Available Copies</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Inventory.Books}}
          <tr>
            <td>{{.Bookid}}</td>
            <td>{{.Bookname}}</td>
            <td>{{.Author}}</td>
            <td>{{.TotalCopies}}</td>
            <td>{{.CopiesAvailable}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{else}} None {{end}}
    </div>
  </body>
</html>
